{% extends "base.html" %}

{% block title %}
NGA Routine Builder
{% endblock %}

{% block head %}
    {{ super() }} <!-- Retains Bootstrap styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='builder.css') }}">
{% endblock %}

{% block content %}
    <div id="grid">
        <div class="item" id="item-1">
            <!-- Routine tables are appended to this div -->
            <div id="routine-tables-container" class="vertical">
                <table class="routine-table">
                    <tr class="header-row">
                        <th colspan="3">{{ level }} {{ event }}</th>
                    </tr>
                    <tr class="header-row" id="subheader">
                        <th>Skills</th>
                        <th>Difficulty Value</th>
                        <th>Element Group</th>
                    </tr>
                    {% for skill, position in skills %}
                        {% if loop.index0 % 2 == 0 %}
                            <tr class="skill-even-row">
                                <td>{{ skill.name }}</td>
                                <td>{{ skill.value }}</td>
                                <td>{{ skill.element_group }}</td>
                            </tr>
                        {% else %}
                            <tr class="skill-odd-row">
                                <td>{{ skill.name }}</td>
                                <td>{{ skill.value }}</td>
                                <td>{{ skill.element_group }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr class="add-row">
                        <td>
                            <button class="add-skill-button">Add a Skill</button>
                        </td>
                        <td>
                            <button class="delete-skill-button">Delete last skill</button>
                        </td>
                        <td>
                            <button class="calculate-score-button">Calculate score</button>
                            <button class="save-routine-button">Save routine</button>
                        </td>
                    </tr>
                </table>
            </div>      
        </div>
        <!-- Skill boxes -->
        <div class="item" id="skill-box">
            <div class="search-container">
                <input type="text" id="searchBar" placeholder="Search..." onkeyup="searchTable()">
            </div>

            <!-- The BIG skills table -->
            <div id="large-table-container"></div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }} <!-- Retains Bootstrap scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='builder.js') }}"></script>
    <script>
        // Attatch event listeners
        attachEventListeners();
        loadLargeDiv();
    </script>
    
{% endblock %}

